/* layout.css */
.wrapper {
    display: flex;
    flex-direction: column;
    /* Dikey yerleşim zorunlu */
    height: 100vh;
    /* Tüm ekranı kapla */
}

/* Her bölümün vh değerleri */
.navbar {
    height: 10vh;
    display: flex;
}

.hero {
    height: 30vh;
    display: flex;
}

.cards-section {
    height: 30vh;
    display: flex;
}

.grow-section {
    height: 20vh;
    display: flex;
}

.main-footer {
    height: 10vh;
    display: flex;
}